################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/Esercitaz_OGL_1.VC.VC.opendb
